<div class="main-wrapper">
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
        </span>
        </a>
        <a  class="navbar-brand logo">
            <img src="assets/images/logo.png" class="img-fluid" alt="Logo">
        </a>
        </div>
        <div class="main-menu-wrapper">
        <div class="menu-header">
        <a href="index.html" class="menu-logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
        <i class="fas fa-times"></i>
        </a>
        </div>
        <ul class="main-nav">
       
    <li class="has-submenu" *ngIf="this.appointmentDto.userLoginTypeId==2">
        <a >Barbers <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
        <li><a routerLink="/barber/appointments">View Appointments</a></li>
        <li><a routerLink="/barber/new-barber">Add/View Barbers</a></li>
        <li><a routerLink="/barber/register-salon">View Salon Profile</a></li>
        <li><a routerLink="/barber/profile">My Profile</a></li>
        </ul>
     </li>
    
    <li class="has-submenu" *ngIf="this.appointmentDto.userLoginTypeId==1">
    <a >Users <i class="fas fa-chevron-down"></i></a>
    <ul class="submenu">
        <li><a routerLink="/appointment/search-salon">Search Salons</a></li>
        <li><a routerLink="/appointment/patient-appointments">View Appointments</a></li>
        <li><a routerLink="/barber/profile">My Profile</a></li>
    </ul>
    </li>
        <li class="login-link" *ngIf="user">
        <a (click)="logout()">Logout</a>
        </li>
        <li class="login-link" *ngIf="!user">
            <a routerLink="/account/login">Login</a>
        </li>
        </ul>
        </div>
        <ul class="nav header-navbar-rht">
        <li class="nav-item" *ngIf="!user">
        <a class="nav-link header-login" >Login </a>
        </li>
    
        <li class="nav-item" *ngIf="!!user" (click)="logout()">
            <a class="nav-link header-login" >Logout </a>
            </li>
        </ul>

        <ul class="nav header-navbar-rht">

            <li class="nav-item dropdown has-arrow logged-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <span class="user-img">
            <img class="rounded-circle" src="assets/img/patients/patient.jpg" width="31" alt="James Ballenger">
            </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
            <div class="user-header">
            <div class="avatar avatar-sm">
            <img src="assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle">
            </div>
            <div class="user-text">
            <h6>{{appointmentDto?.firstName}} {{appointmentDto?.lastName}}</h6>
            <p class="text-muted mb-0" *ngIf="this.appointmentDto.userLoginTypeId==1">User</p>
            <p class="text-muted mb-0" *ngIf="this.appointmentDto.userLoginTypeId==2">Barber</p>
            </div>
            </div>
            </div>
            </li>
            
            </ul>
            
        </nav>
        </header>
    
    <router-outlet></router-outlet>
    
    
    <footer class="footer">
    
        <div class="footer-top">
        <div class="container-fluid">
        <div class="row align-items-center">
      
        <div class="col-lg-3 col-md-6 col-sm-12">
        
        <div class="footer-widget footer-menu">
        <h2 class="footer-title">For Users</h2>
        <ul>
            <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="patient-dashboard.html">User Dashboard</a></li>
        <li><a href="search.html">Search for Barbers</a></li>
        
        <li><a href="booking.html">Booking Appointments</a></li>
    
        </ul>
        </div>
        
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
        
        <div class="footer-widget footer-menu">
        <h2 class="footer-title">For Barbers</h2>
        <ul> <li><a href="login.html">Login</a></li>
            <li><a href="doctor-register.html">Register</a></li>
            <li><a href="doctor-dashboard.html">Barber Dashboard</a></li>
        <li><a href="appointments.html">View Appointments</a></li>
        <li><a href="appointments.html">Approve Appointments</a></li>
       
       
        </ul>
        </div>
        
        </div>
       
        </div>
        </div>
        </div>
        
        
        <div class="footer-bottom">
        <div class="container-fluid">
        
        <div class="copyright">
        <div class="row">
        <div class="col-md-6 col-lg-6">
        <div class="copyright-text">
        <p class="mb-0">&copy; 2022 Barberia. All rights reserved.</p>
        </div>
        </div>
        <div class="col-md-6 col-lg-6">
        
        <div class="copyright-menu">
        <ul class="policy-menu">
        <li><a href="term-condition.html">Terms and Conditions</a></li>
        <li><a href="privacy-policy.html">Policy</a></li>
        </ul>
        </div>
        
        </div>
        </div>
        </div>
        
        </div>
        </div>
        
        </footer>
        
    
    </div>