<div class="breadcrumb-bar">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-md-12 col-12">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Appointments</li>
    </ol>
    </nav>
   
    </div>
    </div>
    </div>
    </div>




<div class="content">
    <div class="container-fluid">
    <div class="row">
     <div style="color:red;">{{this.errors}}</div>
    <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="appointments">
    
    <div class="appointment-list" *ngFor="let item of appointments">
    <div class="profile-info-widget">
    <a href="patient-profile.html" class="booking-doc-img">
    <img   [src]="item?.salonLogo" onerror="this.src='assets/img/barber_03.png'" alt="User Image">
    </a>
    <div class="profile-det-info">
    <h3><a >{{item?.salonName}}</a></h3>
    <div class="patient-details">
        <h5 style="color: red;"><i class="far fa-user"></i>{{item?.doctorName}}</h5>
    <h5><i class="fa fa-phone"></i> {{item?.phone}}</h5>
    <h5 ><i class="fa fa-clock"></i> {{item?.time}}</h5>
    <h5><i class="fa fa-calendar"></i>{{item?.date}}</h5>
    
    <h5><i class="fas fa-map-marker-alt"></i> {{item?.location}}</h5>

    </div>
    </div>
    </div>
    <div class="appointment-action">
        
       
            <a (click)="CancelAppointment(item.id)" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
                </a>
        <!-- <a class="apt-btn" (click)="CancelAppointment(item.id)">Book Appointment</a> -->
        </div>
   
    <div class="appointment-action">
  
    </div>
    </div>
    
     
    </div>
    </div>
    </div>
    </div>
    </div>