<div class="breadcrumb-bar">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-md-8 col-12">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>



    <div class="content">
        <div class="container-fluid">
        <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
        
        <div class="card search-filter">
        <div class="card-header">
        <h4 class="card-title mb-0">Selected Salon</h4>
        </div>
        <div class="card-body">
            <div class="doctor-img">
                <a >
                <img style="margin-left:25% ;"  [src]="Salon?.salonLogo" onerror="this.src='assets/img/barber_03.png'" class="img-fluid" alt="User Image">
                </a>
                </div>
                <div class="doc-info-cont">
                    <h4 class="doc-name mt-2"><a > {{Salon?.name}}</a></h4>
                    <!-- <p class="doc-speciality">{{item?.description}}</p> -->
                   
                    <div class="clinic-details">
                    
                    <p class="doc-location mt-3"><i class="fas fa-map-marker-alt"></i> {{Salon?.address}}</p>
                    </div>
                   
                    </div>
      
        </div>
        </div>
        
        </div>
        <div class="col-md-12 col-lg-8 col-xl-9">
        
        <div class="card" *ngFor="let item of Barbers">
        <div class="card-body">
        <div class="doctor-widget">
        <div class="doc-info-left">
        <div class="doctor-img">
        <a >
        <img   [src]="item?.image" onerror="this.src='assets/img/barber_03.png'" class="img-fluid" alt="User Image">
        </a>
        </div>
        <div class="doc-info-cont">
        <h4 class="doc-name"><a > {{item?.firstName}} {{item?.lastName}}</a></h4>
        <!-- <p class="doc-speciality">{{item?.description}}</p> -->
       
        <div class="clinic-details">
        
        <p class="doc-location mt-3"><i class="fas fa-phone"></i> {{item?.phone}}</p>
        <p class="doc-location mt-3"><i class="fas fa-map-marker-alt"></i> {{item?.address}}</p>
        </div>
       
        </div>
        </div>
        <div class="doc-info-right">
       
        <div class="clinic-booking">
        <a class="view-pro-btn" style="color: #757575; border:1px solid #757575;" (click)="viewProfile(item.id)">View Profile</a>
        <a class="apt-btn" style="background-color: #757575; border:none" (click)="bookAppointment(item.id)">Book Appointment</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        