<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Salon Profile</h2>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">

        <div class="col-md-12 col-lg-12 col-xl-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Please Register Your Salon for further use of System.</h4>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="change-avatar">
                                    <div class="profile-img">
                                        <img [src]="salonDto?.Logo" onerror="this.src='assets/img/user-img.png'"
                                            alt="User Image">

                                        <!-- <img [src]="image" onerror="this.src='assets/img/doctors/doctor-01.jpg'"  alt="User Image">
        -->
                                    </div>

                                    <div class="profile-det-info">
                                        <h3> {{salonDto?.Name}}</h3>
                                        <div class="patient-details">
                                        </div>
                                    </div>

                                </div>
                                <div style="width: min-content;">
                                    <input type="file" (change)="onFileSelected($event)">
                                    <input class="btn btn-primary header-login" (click)="onUpload()" type="button"
                                        value="upload">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Please Enter Your Salon Name </label>
                                <input type="text" [value]="salonDto.Name" [(ngModel)]="salonDto.Name" name="Name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Owner' Name</label>
                                <input type="text" [value]="salonDto?.OwnerName" disabled name="lastName"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email" [value]="salonDto?.OwnerEmail" name="email" disabled
                                    class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Salon's Registered Address</label>
                                <input type="text" [value]="salonDto?.Address" disabled name="address"
                                    class="form-control">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="form-group mb-0">

                    <div class="filter-widget">
                        <h4 (click)="checkSepcialities()">Select Specialities </h4>
                        <ng-container *ngFor="let item of specialities">
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" [checked]="item?.isChecked"
                                        (change)="onCheckboxChange($event,item)">
                                    <span class="checkmark"></span> {{item?.name}}
                                </label>
                            </div>
                        </ng-container>

                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Introduction of Salon.</h4>
                <div class="form-group mb-0">
                    <label>Biography</label>
                    <textarea class="form-control" [value]="salonDto.Introduction" [(ngModel)]="salonDto.Introduction"
                        name="About" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add About of Salon.</h4>
                <div class="form-group mb-0">
                    <label>Biography</label>
                    <textarea class="form-control" [value]="salonDto.About" [(ngModel)]="salonDto.About" name="About"
                        rows="5"></textarea>
                </div>
            </div>
        </div>




        <div class="submit-section submit-btn-bottom">
            <button type="submit" class="btn btn-primary submit-btn" (click)="saveSpecialities()">Save Changes</button>
        </div>
    </div>
</div>