
<div class="main-wrapper">

    <header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
    <a id="mobile_btn" href="javascript:void(0);">
    <span class="bar-icon">
    <span></span>
    <span></span>
    <span></span>
    </span>
    </a>
    <a href="index.html" class="navbar-brand logo">
    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
    </a>
    </div>
    <div class="main-menu-wrapper">
    <div class="menu-header">
    <a href="index.html" class="menu-logo">
    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
    </a>
    <a id="menu_close" class="menu-close" href="javascript:void(0);">
    <i class="fas fa-times"></i>
    </a>
    </div>
    <ul class="main-nav">
    <li>
    <a routerLink="/appointment/search-doctor">Book Appointment</a>
    </li>
    <li class="has-submenu">
        <a >Doctors <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
        <li routerLink="/doctor/appointments"><a >Search Appointments</a></li>
        </ul>
     </li>

    <li class="has-submenu">
    <a >Patients <i class="fas fa-chevron-down"></i></a>
    <ul class="submenu">
    <li><a routerLink="/appointment/search-doctor">Search Doctor</a></li>
<li><a routerLink="/appointment/patient-appointments">View Appointments</a></li>
    </ul>
    </li>
    
    <li class="login-link" *ngIf="user" (click)="logout()">
        <a >Logout</a>
        </li>
        <li class="login-link" *ngIf="!user">
            <a routerLink="/account/login">Login</a>
        </li>
    </ul>
    </div>
    <ul class="nav header-navbar-rht">
    <li class="nav-item" *ngIf="!user">
    <a class="nav-link header-login" >Login </a>
    </li>

    <li class="nav-item" *ngIf="!!user" (click)="logout()">
        <a class="nav-link header-login" >Logout </a>
        </li>
    </ul>
    </nav>
    </header>
<router-outlet></router-outlet>


<footer class="footer">

    <div class="footer-top">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-about">
    <div class="footer-logo">
    <img src="assets/img/logo.png" alt="logo">
    </div>
    <div class="footer-about-content">
    <div class="social-icon">
    <ul>
    <li>
     <a href="#" target="_blank"><img src="assets/img/payment1.jpg" alt=""></a>
    </li>
    <li>
    <a href="#" target="_blank"><img src="assets/img/payment2.jpg" alt=""></a>
    </li>
    <li>
    <a href="#" target="_blank"><img src="assets/img/payment3.jpg" alt=""></a>
    </li>
    <li>
    <a href="#" target="_blank"><img src="assets/img/payment4.jpg" alt=""></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h2 class="footer-title">Users can</h2>
    <ul>
    <li><a href="search.html">Search for Doctors</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="booking.html">Booking</a></li>
    </ul>
    </div>
    
    </div>
   
 
    </div>
    </div>
    </div>
    
    
    <div class="footer-bottom">
    <div class="container-fluid">
    
    <div class="copyright">
    <div class="row">
    <div class="col-md-6 col-lg-6">
    <div class="copyright-text">
    <p class="mb-0">&copy; 2020 Doccure. All rights reserved.</p>
    </div>
    </div>
    <div class="col-md-6 col-lg-6">
    
    <div class="copyright-menu">
    <ul class="policy-menu">
    <li><a href="term-condition.html">Terms and Conditions</a></li>
    <li><a href="privacy-policy.html">Policy</a></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    </footer>
    
</div>