
<div class="main-wrapper">

    <header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
    <a id="mobile_btn" href="javascript:void(0);">
    <span class="bar-icon">
    <span></span>
    <span></span>
    <span></span>
    </span>
    </a>
    <a  class="navbar-brand logo">
        <img src="assets/images/logo.png" class="img-fluid" alt="Logo">
    </a>
    </div>
    <div class="main-menu-wrapper">
    <div class="menu-header">
    <a href="index.html" class="menu-logo">
    <img src="assets/images/logo.png" class="img-fluid" alt="Logo">
    </a>
    <a id="menu_close" class="menu-close" href="javascript:void(0);">
    <i class="fas fa-times"></i>
    </a>
    </div>
    <ul class="main-nav">
    <li>
    <a >Book Appointment</a>
    </li>
    <li class="has-submenu">
        <a >Barbers <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
        <li ><a >Search Appointments</a></li>
        </ul>
     </li>

    <li class="has-submenu">
    <a >Users <i class="fas fa-chevron-down"></i></a>
    <ul class="submenu">
    <li><a >Search Barbers</a></li>
<li><a >View Appointments</a></li>
    </ul>
    </li>
    
    <li class="login-link" *ngIf="user" (click)="logout()">
        <a >Logout</a>
        </li>
        <li class="login-link" *ngIf="!user">
            <a  routerLink="/account/login">Login</a>
        </li>
    </ul>
    </div>
    <ul class="nav header-navbar-rht">
    <li class="nav-item" *ngIf="!user">
    <a class="nav-link header-login" routerLink="/account/login">Login </a>
    </li>

    <li class="nav-item" *ngIf="!!user" (click)="logout()">
        <a class="nav-link header-login" >Logout </a>
        </li>
    </ul>
    </nav>
    </header>
<router-outlet></router-outlet>


<footer class="footer mt-5">   
    
    <div class="footer-bottom">
    <div class="container-fluid">
    
    <div class="copyright">
    <div class="row">
    <div class="col-md-6 col-lg-6">
    <div class="copyright-text">
    <p class="mb-0">&copy; 2022 Barberia. All rights reserved.</p>
    </div>
    </div>
    <div class="col-md-6 col-lg-6">
    
    <div class="copyright-menu">
    <ul class="policy-menu">
    <li><a >Terms and Conditions</a></li>
    <li><a >Policy</a></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    </footer>
    
</div>